<div class="container">
<h1>Listado de clientes</h1>
<%= link_to "Crear Cliente", clientes_new_path, :class => 'btn btn-warning my-3'%>
<table class=" table-striped table table-responsive">
  <tr>
    <thead  class="thead-dark">
      <th>Nombre</th>
      <th>Apellido</th>
   		<th>CUIT</th>
   		<th>Rubro</th>
      <th>Domicilio</th>
      <th>Celular</th>
      <th>Telefono</th>
      <th>Tipo Cliente</th>
      <th colspan="3"></th>
    </thead>
  </tr>
  <% @clientes.each do |cliente| %>
  	<%if cliente.baja == true %>
	  	<tr>
        <td><%= link_to "#{cliente.nombre}", cliente_path(cliente)%></td>
        <td><%= link_to "#{cliente.apellido}", cliente_path(cliente)%></td>
	    	<td><%= cliente.cuit %></td>
	      <td><%= cliente.rubro%></td>
	      <td><%= cliente.domicilio %></td>
	      <td><%= cliente.celular %></td>
	      <td><%= cliente.telefono %></td>
	      <td><%= cliente.tipo_cliente %></td>
	      <td>
	        	<%= link_to '', cliente, method: :delete, data: { confirm: "¿Estás seguro/a?" }, :class => 'fas fa-trash'  %>
	      </td>
	  	</tr>
	  <% end %>
  <% end %>
</table>
</div>
