<div class="container">
  <h1>Listado de clientes</h1>

      <%= link_to 'Listado PDF', clientes_path(format: 'pdf'), :class => 'btn btn-success my-3' %>
      <%= link_to "Crear Cliente", clientes_new_path, :class => 'btn btn-warning my-3'%>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-success my-3' %>

      <%= form_tag clientes_path, :method => 'get', :id => "clientes_search" do %>
            <div id="clientes"><%= render 'clientes' %></div>
      <% end %>
</div>
