<div class="container">
  <div class="card-header d-flex justify-content-between">
      <div><h2 class="my-0 font-size:8vw">Detalle Reclamo</h2></div>
      <div class="col-md-8"> 
        <%= link_to 'Editar', edit_queja_path, class: "btn btn-primary mr-3" %>
        <%= link_to 'Eliminar', queja_path(@queja), method: :delete, :class => 'btn btn-danger', :target => 'blank', data: { confirm: "¿Estás seguro/a de eliminar el Reclamo?" } %>
      </div>
    </div>
  <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4 text-center">
          <h3>
            <strong>Nro Reclamo:</strong>
            <%= @queja.id%>
          </h3>
          <h3>
            <strong>Nro Certificado:</strong>
            <%= @queja.orden_fumigacion.nro_certificado %>
          </h3>
          <h3>
            <strong>Fecha de reclamo:</strong>
            <%= @queja.fecha_queja%>
          </h3>
          <h3>
            <strong>Observaciones:</strong>
            <%= @queja.observaciones_queja%>
          </h3>
      </ul>
    <a class="btn btn-lg btn-block btn-dark" href="/quejas">Atrás</a>
  </div>
</div>


