
<%= simple_form_for(@tecnico) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="center-block form-inputs cliente-new-form">

    <div class="row">
      <div class="col-sm">
        <div><%= f.input :apellido %></div>
      </div>
      <div class="col-sm">
        <div><%= f.input :nombre %></div>
      </div>
      <div class="col-sm">
        <div><%= f.input :dni %></div>
      </div>
      <div class="col-sm">
        <div><%= f.input :codificacion %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div><%= f.input :domicilio %> </div>
      </div>
      <div class="col-sm">
        <div><%= f.input :barrio %></div>
      </div>
    </div>
    <!-- div row line 16 -->
    <div class="row">
      <div class="col-sm">
        <div><%= f.input :correo %></div>
      </div>
      <div class="col-sm">
        <div><%= f.input :telefono %></div>
      </div>
      <div class="col-sm">
        <div>  <%= f.input :celular %> </div>
      </div>
    </div>
  <!-- div form-inputs cliente-new-form -->
   <div class= "d-flex my-3">
     <div> <%= f.button :submit,name="Confirmar",:class => "btn btn-success"  %> </div>
  </div>
<% end %>
