 <div class="containerzero">
<h1>Listado de técnicos</h1>
<%= link_to 'Listado PDF', tecnicos_path(format: 'pdf'), :class => 'btn btn-success my-3' %>
<%= link_to "Crear Tecnico", tecnicos_new_path, :class => 'btn btn-warning my-3'%>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


<input class="ml-4 w-25" id="myInput" type="text" placeholder="Buscar..">
<table class=" table-striped table table-responsive">
  <tr>
    <thead  class="thead-dark">
        <th>DNI</th>
        <th>Cod.</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Domicilio</th>
        <th>Barrio</th>
        <th>Celular</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th colspan="3"></th>
    </thead>
  </tr>
  <tbody id="myTable">
  <% @tecnicos.each do |tecnico| %>
    <%if tecnico.baja == true %>
      <tr>
          <td><%= tecnico.dni %></td>
          <td><%= tecnico.codificacion %></td>
          <td><%= link_to "#{tecnico.apellido}", tecnico_path(tecnico) %></td>
          <td><%= link_to "#{tecnico.nombre}", tecnico_path(tecnico) %></td>
          <td><%= tecnico.domicilio %></td>
          <td><%= tecnico.barrio %></td>
          <td><%= tecnico.celular %></td>
          <td><%= tecnico.telefono %></td>
          <td><%= tecnico.correo %></td>
          <td>
            <%= link_to 'Eliminar', tecnico, method: :delete, data: { confirm: "¿Estás seguro/a de eliminar el Técnico?" } %>
          </td>
      </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
