<!DOCTYPE html>
<html lang="es">
  <head><meta charset=UTF-8">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Faja</title>
  </head>
  <body>
    sgsdgfdsgfd
<div style="position:absolute;left:50%;margin-left:-420px;top:0px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">

<div style="position:absolute;left:79.20px;top:272.92px" class="cls_002"><span class="cls_002"><%= @orden_fumigacion.fecha_vencimiento%></span></div>
<div style="position:absolute;left:602.98px;top:272.92px" class="cls_002"><span class="cls_002"><%= @orden_fumigacion.proximo_tratamiento%></span></div>
<div style="position:absolute;left:193.32px;top:485.32px" class="cls_003"><span class="cls_003"><%= @orden_fumigacion.cliente.nombre%> <%= @orden_fumigacion.cliente.apellido%></span></div>
<div style="position:absolute;left:410.46px;top:485.32px" class="cls_003"><span class="cls_003">25/03/21 - TELEFONIA  CLARO</span></div>
<div style="position:absolute;left:191.16px;top:514.12px" class="cls_003"><span class="cls_003">BARTOLOME  MITRE  N°143 - SALTA  -  CAPITAL</span></div>
</div>
  </body>
</html>
<style type="text/css">

  body {
  position: relative;
  width: 29.7cm;
  height: 21cm;
  margin: 0 auto; 
  
  
  font-family: Arial, Arial; 
  font-size: 14px; 
  font-family: Arial;
  
}

span.cls_002{font-family:Times,serif;font-size:18.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:18.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Times,serif;font-size:16.0px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:16.0px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}

</style>