<div class="container">
  <div class="d-flex justify-content-between">
		<h1>Listado Fumigaciones</h1>
	</div>
<%= link_to 'Listado Hoy', :orden_fumigacions_fumigaciones_por_fecha, method: :get, class: "btn btn-secondary" %>
<%= link_to 'Listado PDF', orden_fumigacions_path(format: 'pdf'), :class => 'btn btn-success my-3' %>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


<input class="ml-3 w-25" id="myInput" type="text" placeholder="Buscar certificado..">

<table class=" table-striped table table-responsive">
  <tr>
    <thead  class="thead-dark">
   		<th>#Cert.</th>
   		<th>Cliente</th>
   		<th>Tecnico</th>
	    <th>Tratamiento</th>
	    <th>Droga</th>
	    <th>F. Aplicacion</th>
	    <th>F. Vencimiento</th>
	    <th>Prox. Tratamiento</th>
	    <th colspan="3"></th>

    </thead>
  </tr>
   <tbody id="myTable" >
  <% @orden_fumigacions.each do |orden_fumigacion| %>
  	<%if (orden_fumigacion.baja == true) 	&& (orden_fumigacion.anulado==true)%>
	  	<tr>
	      <td><%= link_to "#{orden_fumigacion.nro_certificado}", orden_fumigacion_path(orden_fumigacion)%></td>
	    	<td><%= link_to "#{orden_fumigacion.cliente.apellido}", cliente_path(orden_fumigacion.cliente)%></td>
	      <td><%= orden_fumigacion.tecnico.apellido %></td>
	      <td><%= orden_fumigacion.tratamiento %></td>
	      <td><%= orden_fumigacion.droga %></td>
	      <td><%= orden_fumigacion.fecha_aplicacion.strftime("%d-%m-%Y") %></td>
	      <td><%= orden_fumigacion.fecha_vencimiento.strftime("%d-%m-%Y") %></td>
	      <td><%= orden_fumigacion.proximo_tratamiento.strftime("%d-%m-%Y") %></td>
	      <td>
            <%= link_to 'Eliminar', orden_fumigacion, method: :delete, data: { confirm: "¿Estás seguro/a de eliminar el Certificado?" } %>
        </td>
	  	</tr>
	  <% end %>
  <% end %>
</tbody>
</table>
</div>
