<%= simple_form_for(@orden_fumigacion) do |f| %>
  <%= f.error_notification %>
 

  <div class="center-block form-inputs cliente-new-form">
      <div class="row">
          <div class="col-md-12">                          
                          <div class="form-group">                           
                              <div class="col-md-8">
                                  <h3 class="text-center card-header my-2"><strong><%= @orden_fumigacion.cliente.nombre%> <%= @orden_fumigacion.cliente.apellido%> <%= @orden_fumigacion.cliente.rubro%></strong></h3>
                              </div>
                              <div class="col-md-8">
                                  <%= f.input :cliente_id, :as => :hidden, :label => false, :input_html => { :class => "form-control"}%>
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <div class="col-md-8">
                                  <%= collection_select :orden_fumigacion, :tecnico_id, Tecnico.where("baja = ?", true).order("updated_at DESC, nombre DESC").collect { |t| [ t.id, "#{t.apellido} - #{t.nombre} - #{t.dni}" ] }, :first, :last, { prompt: "Seleccionar un Tecnico" }, {class: "form-control"} %>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-md-8">
                                  <%= f.input :nro_certificado, :label => false, required: true,
                autofocus: true, :input_html => { :class => "form-control", :placeholder => "Nro Certificado"}%>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-md-8">

                                  <%= f.input :tipo_certificado, as: :select, :collection => ["F", "C"], label: "Tipo de certificado", :default=> "F", :input_html => { :class => "form-control"}%>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-md-8">
                                  <%= f.input :fecha_aplicacion, :class => 'datepicker', as: :date, html5: true, :input_html => { :class => "form-control"} %>
                              </div>
                          </div>


                          <div class="form-group">
                              <div class="col-md-8">
                                  <%= f.input :hora_aplicacion, :class => 'datepicker', as: :time, html5: true, :input_html => { :class => "form-control"} %>
                              </div>
                          </div>
                          <%orden_fumigacion_id=1%>
                          <div class="form-group">
                              <script >
                                // Multiselect dropdown orden_fumigacion.tratamiento -->
                                    $(document).ready(function() {
                                    $("#orden_fumigacion_tratamiento_<%=orden_fumigacion_id%>").multiselect({
                                      allSelectedText: 'Showing All'
                                    });
                                  });
                                //Fin del efecto multiselect orden_trabajo.post

                                //Cambia los valores de la cadena de proceso
                                  $(function () {
                                    $("#orden_fumigacion_tratamiento_<%=orden_fumigacion_id%>").change(function () {
                                      var ValorSeleccionadoDropdown = $(this).val();
                                      $(document).ready(function(){$("#<%=orden_fumigacion_id%>").val(ValorSeleccionadoDropdown)});
                                    });
                                  });
                                //Fin de cambio los valores de la cadena de proceso
                              </script>
                              <div class="col-md-8">
                                <label for="Tratamiento">Tratamiento</label>
                                <select id= "orden_fumigacion_tratamiento_<%=orden_fumigacion_id%>" multiple="multiple" class="form-control">
                                  <% OrdenFumigacion::TRATAMIENTO.each do  |elemento_tratamiento| %>
                                      <%if cadenatovector(orden_fumigacion.tratamiento).include?  elemento_tratamiento %>
                                        <option value = <%= elemento_tratamiento %> selected ><%= elemento_tratamiento %></option>
                                      <%else%>
                                        <option value = <%= elemento_tratamiento %> ><%= elemento_tratamiento %></option>
                                      <%end%>
                                  <%end%>
                                </select>
                              </div>
                              <%= f.input :tratamiento, :as => :hidden, :input_html => { :id => orden_fumigacion_id} %>
                          </div>

                          <div class="form-group">
                              <script >
                                // Multiselect dropdown orden_fumigacion.tratamiento -->
                                    $(document).ready(function() {
                                    $("#orden_fumigacion_vector_<%=orden_fumigacion_id*2%>").multiselect({
                                      allSelectedText: 'Showing All'
                                    });
                                  });
                                //Fin del efecto multiselect orden_trabajo.post

                                //Cambia los valores de la cadena de proceso
                                  $(function () {
                                    $("#orden_fumigacion_vector_<%=orden_fumigacion_id*2%>").change(function () {
                                      var ValorSeleccionadoDropdown = $(this).val();
                                      $(document).ready(function(){$("#<%=orden_fumigacion_id*2%>").val(ValorSeleccionadoDropdown)});
                                    });
                                  });
                                //Fin de cambio los valores de la cadena de proceso
                              </script>
                              <div class="col-md-8">
                                <label for="Vector">Vector</label>
                                <select id= "orden_fumigacion_vector_<%=orden_fumigacion_id*2%>" multiple="multiple" class="form-control">
                                  <% OrdenFumigacion::VECTOR.each do  |elemento_vector| %>
                                      <%if cadenatovector(orden_fumigacion.vector).include?  elemento_vector %>
                                        <option value = <%= elemento_vector %> selected ><%= elemento_vector %></option>
                                      <%else%>
                                        <option value = <%= elemento_vector %> ><%= elemento_vector %></option>
                                      <%end%>
                                  <%end%>
                                </select>
                              </div>
                              <%= f.input :vector, :as => :hidden, :input_html => { :id => orden_fumigacion_id*2} %>
                          </div>

                          <div class="form-group">
                              <div class="col-md-8">
                                  <%= f.input :superficie, :label => false, :input_html => { :class => "form-control", :placeholder => "Superficie"}%>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-8">
                                <%= f.input :veneno, as: :select, :collection => ["C"], label: "Veneno", :default=> "C", :input_html => { :class => "form-control"}%>
                              </div>
                          </div>

                          <div class="form-group">
                              <script >
                                // Multiselect dropdown orden_fumigacion.tratamiento -->
                                    $(document).ready(function() {
                                    $("#orden_fumigacion_droga_<%=orden_fumigacion_id*4%>").multiselect({
                                      allSelectedText: 'Showing All'
                                    });
                                  });
                                //Fin del efecto multiselect orden_trabajo.post

                                //Cambia los valores de la cadena de proceso
                                  $(function () {
                                    $("#orden_fumigacion_droga_<%=orden_fumigacion_id*4%>").change(function () {
                                      var ValorSeleccionadoDropdown = $(this).val();
                                      $(document).ready(function(){$("#<%=orden_fumigacion_id*4%>").val(ValorSeleccionadoDropdown)});
                                    });
                                  });
                                //Fin de cambio los valores de la cadena de proceso
                              </script>
                              <div class="col-md-8">
                                <label for="droga">Droga</label>
                                <select id= "orden_fumigacion_droga_<%=orden_fumigacion_id*4%>" multiple="multiple" class="form-control">
                                  <% OrdenFumigacion::DROGA.each do  |elemento_droga| %>
                                      <%if cadenatovector(orden_fumigacion.droga).include?  elemento_droga %>
                                        <option value = <%= elemento_droga %> selected ><%= elemento_droga %></option>
                                      <%else%>
                                        <option value = <%= elemento_droga %> ><%= elemento_droga %></option>
                                      <%end%>
                                  <%end%>
                                </select>
                              </div>
                              <%= f.input :droga, :as => :hidden, :input_html => { :id => orden_fumigacion_id*4} %>
                          </div>

                          <div class="form-group">
                              <div class="col-md-8">
                                  <%= f.input :fecha_vencimiento, :class => 'datepicker', as: :date, html5: true, :input_html => {:class => "form-control", :id => "orden_fumigacion_fecha_vencimiento"} %>
                              </div>
                          </div>

                          
                          <div class="form-group">

                            <script type="text/javascript">

                                $("#orden_fumigacion_fecha_vencimiento").change(function () {
                                  
                                  var orden_fumigacion_fecha_vencimiento = $(this).val();
                                  
                                  console.log("orden_fumigacion_fecha_vencimiento: ",orden_fumigacion_fecha_vencimiento);

                                  var select_proximo_tratamiento = document.getElementById('orden_fumigacion_proximo_tratamiento_<%=orden_fumigacion_id*6%>');

                                  let listaPeriodos = [30,60,90]; 

                                  listaPeriodos.forEach(function(periodo){

                                    let opcion = document.createElement('option');
                                    opcion.value = sumarDias(orden_fumigacion_fecha_vencimiento,periodo);
                                    opcion.text = opcion.value  + " - " + periodo + " dias";
                                    
                                    
                                    if (periodo == 30) {
                                      opcion.setAttribute("selected", "selected")
                                      console.log("opcion.value: ",opcion.value);
                                      
                                      $('#orden_fumigacion_proximo_tratamiento_<%=orden_fumigacion_id*6%>').val(opcion.value);
                                    }

                                    select_proximo_tratamiento.add(opcion);
                                  });
                                });

                                function sumarDias(cadena, dias){

                                  var arrayfecha = cadena.split("-");
                                  console.log("arrayfecha: ",arrayfecha);

                                  let fecha = new Date();
                                  fecha.setFullYear(arrayfecha[0],arrayfecha[1]-1,arrayfecha[2]);
                                  fecha.setDate(fecha.getDate() + dias);
                                  
                                  console.log("fecha: ",fecha);

                                  console.log("FECHA: ",fecha.getDate() + '-' + (fecha.getMonth()+1) + '-' +  fecha.getFullYear());

                                  return(fecha.getFullYear() + '-' + (fecha.getMonth()+1) + '-' + fecha.getDate() );                                 
                                }

                                //Cambia los valores de la cadena de proceso
                                  $(function () {
                                    $("#orden_fumigacion_proximo_tratamiento_<%=orden_fumigacion_id*6%>").change(function () {
                                      var ValorSeleccionadoDropdown = $(this).val();
                                      console.log("ValorSeleccionadoDropdown: ",ValorSeleccionadoDropdown);
                                      $(document).ready(function(){$("#<%=orden_fumigacion_id*6%>").val(ValorSeleccionadoDropdown)});
                                    });
                                  });
                                //Fin de cambio los valores de la cadena de proceso

                            </script>    

                              <div class="col-md-8">
                                <div id="contenedor_proximo_tratamiento">

                                  <label for="proximo_tratamiento">Proximo tratamiento</label>

                                  <%if @orden_fumigacion.proximo_tratamiento.nil?%>
                                    <%if @orden_fumigacion.fecha_vencimiento%>
                                      <select id= "orden_fumigacion_proximo_tratamiento_<%=orden_fumigacion_id*6%>" class="form-control">
                                        <option value=<%= @orden_fumigacion.fecha_vencimiento + 30 %> selected> <%= @orden_fumigacion.fecha_vencimiento + 30 %> - 30 dias </option>
                                        <option value=<%= @orden_fumigacion.fecha_vencimiento + 60 %>> <%= @orden_fumigacion.fecha_vencimiento + 60  %> - 60 dias </option>
                                        <option value=<%= @orden_fumigacion.fecha_vencimiento + 90 %>> <%= @orden_fumigacion.fecha_vencimiento + 90  %> - 90 dias </option>
                                      </select>
                                    <%else%>
                                      <select id= "orden_fumigacion_proximo_tratamiento_<%=orden_fumigacion_id*6%>" class="form-control">
                                        <option value=""> Seleccione prox. tratamiento... </option>
                                      </select>

                                    <%end%>    
                                  <%else%>

                                    <% of_periodo = @orden_fumigacion.fecha_vencimiento - @orden_fumigacion.proximo_tratamiento %>

                                    <%if of_periodo == 60%>
                                      <select id= "orden_fumigacion_proximo_tratamiento_<%=orden_fumigacion_id*6%>" class="form-control">
                                        <option value=<%= @orden_fumigacion.fecha_vencimiento + 30 %> selected> <%= @orden_fumigacion.fecha_vencimiento + 30 %> - 30 dias </option>
                                        <option value=<%= @orden_fumigacion.fecha_vencimiento + 60 %>> <%= @orden_fumigacion.fecha_vencimiento + 60  %> - 60 dias </option>
                                        <option value=<%= @orden_fumigacion.fecha_vencimiento + 90 %>> <%= @orden_fumigacion.fecha_vencimiento + 90  %> - 90 dias </option>
                                      </select>
                                    <%else%>
                                      <%if of_periodo == 90 %>
                                        <select id= "orden_fumigacion_proximo_tratamiento_<%=orden_fumigacion_id*6%>" class="form-control">
                                          <option value=<%= @orden_fumigacion.fecha_vencimiento + 30%>> <%= @orden_fumigacion.fecha_vencimiento + 30 %> - 30 dias </option>
                                          <option value=<%= @orden_fumigacion.fecha_vencimiento + 60%>> <%= @orden_fumigacion.fecha_vencimiento + 60  %> - 60 dias</option>
                                          <option value=<%= @orden_fumigacion.fecha_vencimiento + 90%> selected > <%= @orden_fumigacion.fecha_vencimiento + 90  %> - 90 dias</option>
                                        </select>

                                      <%else%>
                                        <select id= "orden_fumigacion_proximo_tratamiento_<%=orden_fumigacion_id*6%>" class="form-control">
                                          <option value=<%= @orden_fumigacion.fecha_vencimiento + 30%>  selected> <%= @orden_fumigacion.fecha_vencimiento + 30 %> - 30 dias</option>
                                          <option value=<%= @orden_fumigacion.fecha_vencimiento + 60%>> <%= @orden_fumigacion.fecha_vencimiento + 60  %> - 60 dias</option>
                                          <option value=<%= @orden_fumigacion.fecha_vencimiento + 90%>> <%= @orden_fumigacion.fecha_vencimiento + 90  %> - 90 dias</option>
                                        </select>
                                      <%end%>
                                    <%end%>                                   
                                  <%end%>

                                  <%= f.input :proximo_tratamiento, :as => :hidden, :input_html => { :id => orden_fumigacion_id*6} %>

                                </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-8">
                                  <%= f.input :importe, :label => false, :input_html => { :class => "form-control", :placeholder => "Importe"}%>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-md-8">
                                  <%= f.input :observaciones_ordfumigacion, :label => false, :input_html => { :class => "form-control", :placeholder => "Observaciones"}%>
                              </div>
                          </div>


      </div>
  </div>
  <!-- div form-inputs cliente-new-form -->
  <div class="row">
    <div class="col-md-12">
      <div><%= f.button :submit,name="Confirmar",:class => "btn btn-success"  %> </div>
    </div>
  </div>

<% end %>
