<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
</head>
<body>
<div style="width:1240px;height:1780px;border: 1px solid;">
	<div style="position:absolute;left:0px;top:0px">
	</div>
	<div style="position:absolute;left:367.44px;top:26.80px" class="nro_certificado">
		<span class="nro_certificado">CERTIFICADO N°</span>
		<span class="vnro_certificado"><%= @orden_fumigacion.nro_certificado%></span>
	</div>
	<div style="position:absolute;left:50.40px;top:41.20px" class="company_name">
		<span class="company_name">SISA-FUMIGACIONES</span>
	</div>
	<div style="position:absolute;left:50.40px;top:62.92px" class="company_subtittle">
		<span class="company_subtittle">SISTEMA INTEGRAL DE SANEAMIENTO AMBIENTAL</span>
	</div>
	<div style="position:absolute;left:489.60px;top:49.12px" class="tipo_certificado">
		<span class="tipo_certificado"><%= @orden_fumigacion.tipo_certificado%></span>
	</div>
	<div style="position:absolute;left:50.40px;top:90.40px" class="company_info">
		<span class="company_info">PADRON N° 68.023/03 - CAM-SLA 50.429/03  CUIT:27-02898301-3</span>
	</div>
	<div style="position:absolute;left:361.21px;top:90.40px" class="company_info">
		<span class="company_info">20-22583332-0</span>
	</div>
	<div style="position:absolute;left:50.40px;top:102.28px" class="company_info">
		<span class="company_info">ADMINISTRACION & VENTAS: MANZANA N° 748  LOTE N°8</span>
	</div>
	<div style="position:absolute;left:50.40px;top:114.28px" class="company_info">
		<span class="company_info">BARRIO SANTA ANA II  -  CP 4400 -SALTA CAPITAL</span>
	</div>
	<div style="position:absolute;left:50.40px;top:126.16px" class="company_info">
		<span class="company_info">TELEFONOS: (0387)4291082</span>
	</div>
	<div style="position:absolute;left:194.90px;top:126.16px" class="company_info">
		<span class="company_info">-</span>
	</div>
	<div style="position:absolute;left:206.51px;top:126.16px" class="company_info">
		<span class="company_info">(0387) 4248560</span>
	</div>

	<div style="position:absolute;left:50.40px;top:171.76px" class="cliente_details">
		<span class="cliente_details">Fecha de Aplicación: <%= I18n.l(@orden_fumigacion.fecha_aplicacion, locale: :es, format: :long) %></span>
	</div>
	<div style="position:absolute;left:374.40px;top:171.76px" class="cliente_details">
		<span class="cliente_details">Hora:</span>
	</div>
	<div style="position:absolute;left:403.20px;top:171.64px" class="cliente_details">
		<span class="cliente_details"><%= @orden_fumigacion.hora_aplicacion.strftime("%H:%M") %></span>
	</div>
	<div style="position:absolute;left:50.40px;top:200.56px" class="cliente_details">
		<span class="cliente_details">Apellido y Nombre:</span>
	</div>
	<div style="position:absolute;left:136.80px;top:200.44px" class="cliente_details">
		<span class="cliente_details"><%= @orden_fumigacion.cliente.apellido%> <%= @orden_fumigacion.cliente.nombre%></span>
	</div>
		<div style="position:absolute;left:50.40px;top:229.36px" class="cliente_details">
		<span class="cliente_details">Domicilio:</span>
	</div>
	<div style="position:absolute;left:100.80px;top:229.24px" class="cliente_details">
		<span class="cliente_details"><%= @orden_fumigacion.cliente.domicilio%></span>
	</div>
	<div style="position:absolute;left:50.40px;top:258.16px" class="cliente_details">
		<span class="cliente_details">Barrio:</span></div>
	<div style="position:absolute;left:84.96px;top:258.04px" class="cliente_details">
		<span class="cliente_details"><%= @orden_fumigacion.cliente.barrio%></span></div>
	<div style="position:absolute;left:266.40px;top:258.16px" class="cliente_details">
		<span class="cliente_details">Telefono: <%= @orden_fumigacion.cliente.telefono%>  Celular: <%= @orden_fumigacion.cliente.celular%></span></div>
	<div style="position:absolute;left:50.40px;top:294.16px" class="cliente_details">
		<span class="cliente_details">Rubro: </span></div>
	<div style="position:absolute;left:93.60px;top:294.04px" class="cliente_details">
		<span class="cliente_details"><%= @orden_fumigacion.cliente.rubro%></span></div>
	<div style="position:absolute;left:50.40px;top:315.76px" class="cliente_details">
		<span class="cliente_details">Comercial [ ]</span></div>
	<div style="position:absolute;left:136.84px;top:315.76px" class="cliente_details">
		<span class="cliente_details">Industrial [ ]</span></div>
	<div style="position:absolute;left:225.35px;top:315.76px" class="cliente_details">
		<span class="cliente_details">Particular [ ]</span></div>
	<div style="position:absolute;left:318.96px;top:315.76px" class="cliente_details">
		<span class="cliente_details">Educacional [ ]</span></div>
	<div style="position:absolute;left:431.96px;top:315.76px" class="cliente_details">
		<span class="cliente_details">Estatal [ ]</span></div>
	<div style="position:absolute;left:518.42px;top:315.76px" class="cliente_details">
		<span class="cliente_details">Otros [ ]</span></div>
	<div style="position:absolute;left:50.40px;top:351.76px" class="cliente_details">
		<span class="cliente_details">Tratamiento: </span></div>
	<div style="position:absolute;left:122.40px;top:351.76px" class="cliente_details">
		<span class="cliente_details"><%= @orden_fumigacion.tratamiento%></span></div>
	<div style="position:absolute;left:50.40px;top:387.76px" class="cliente_details">
		<span class="cliente_details">Vector Tratado:   <%= @orden_fumigacion.vector%></span>
	</div>
	
	<div style="position:absolute;left:50.40px;top:423.76px" class="cliente_details">
		<span class="cliente_details">Superfice Tratada: </span>
	</div>
	<div style="position:absolute;left:144.00px;top:424.36px" class="cliente_details">
		<span class="cliente_details"><%= @orden_fumigacion.superficie%></span>
	</div>
	<div style="position:absolute;left:367.16px;top:423.76px" class="cliente_details">
		<span class="cliente_details">Veneno Clase: </span>
	</div>
	<div style="position:absolute;left:439.20px;top:423.64px" class="cliente_details">
		<span class="cliente_details"><%= @orden_fumigacion.veneno%></span>
	</div>
	<div style="position:absolute;left:50.40px;top:459.76px" class="cliente_details">
		<span class="cliente_details">Droga Usada: </span>
	</div>
	<div style="position:absolute;left:136.84px;top:459.76px" class="cliente_details">
		<span class="cliente_details"><%= @orden_fumigacion.droga%></span>
	</div>
	<div style="position:absolute;left:51.12px;top:492.16px" class="cliente_details">
		<span class="cliente_details">Antidoto: 1 - Piretroydes: tratamiento Sintomático - Bromadilone: Vitamina K1 - DDVP: Sulfato de Atropina.</span></div>
	<div style="position:absolute;left:51.12px;top:511.60px" class="cliente_details">
		<span class="cliente_details">Recomendaciones: 1 - mantener cerrado el ambiente tratado mínimo 4 horas, ventilar y lavar (sin lavandina) las superficies de uso culinario, etc.</span></div>
	
	<div style="position:absolute;left:70.80px;top:556.84px" class="company_conditions">
		<span class="company_conditions">La firma brinda garantia de satifacción, validez 30 días corridos posteriores al servicio, sin excepción.</span>
	</div>
	<div style="position:absolute;left:42.48px;top:578.56px" class="company_warranty">
		<span class="company_warranty">GARANTIA SUJETA A INSPECCIONES TECNICAS, A LAS CONDICIONES DE HIGENE, EDILICIAS, CLIMATICAS, AL GRADO DE</span>
	</div>
	<div style="position:absolute;left:42.48px;top:589.36px" class="company_warranty">
		<span class="company_warranty">INFESTACION Y AL TIPO DE PLAGA -  LA EFICTIVIDAD DEL SERVICIO NO DEPENDE DE LAS FECHAS DE APLICACION Y</span></div>
	<div style="position:absolute;left:42.48px;top:600.16px" class="company_warranty">
		<span class="company_warranty">VENCIMIENTO DE ESTE CERTIFICADO, SOLO DEL PLAN DE TRABAJO ACORDADO. COMERCIOS DONDE SE EXPENDA,</span></div>
	<div style="position:absolute;left:42.48px;top:610.96px" class="company_warranty">
		<span class="company_warranty">ELABORE,FRACCIONE Y ALMACENE ALIMENTOS, LA CERTIFICACION DE SERVICIOS NO SERA SUPERIOR A LOS 60 DIAS,</span></div>
	<div style="position:absolute;left:42.48px;top:621.76px" class="company_warranty">
		<span class="company_warranty">SEGÚN ORDENANZA N° 12.157/04 - DECRETO N°917/98 DE LA MUNICIPALIDAD DE LA CIUDAD DE SALTA.</span></div>
	<div style="position:absolute;left:42.48px;top:640.36px" class="cliente_details">
		<span class="cliente_details">OBSERVACIONES: <%= @orden_fumigacion.observaciones_ordfumigacion%></span>
	</div>
	<div style="position:absolute;left:93.12px;top:675.64px" class="cliente_details">
		<span class="cliente_details">25 DE ABRIL DE 2021</span>
	</div>
	<div style="position:absolute;left:417.12px;top:675.64px" class="cliente_details">
		<span class="cliente_details">25 DE ABRIL DE 2021</span>
	</div>
	<div style="position:absolute;left:103.92px;top:690.04px" class="company_singatures">
		<span class="company_singatures">Fecha de Vencimiento</span>
	</div>
	<div style="position:absolute;left:427.92px;top:690.04px" class="company_singatures">
		<span class="company_singatures">Fecha de Vencimiento</span>
	</div>
	<div style="position:absolute;left:104.52px;top:764.20px" class="company_singatures">
		<span class="company_singatures">RECIBE CONFORME</span>
	</div>
	<div style="position:absolute;left:447.96px;top:764.20px" class="company_singatures">
		<span class="company_singatures">Por S.I.S.A</span>
	</div>
	<div style="position:absolute;left:419.76px;top:772.12px" class="company_singatures">
		<span class="company_singatures">Gerente o Director Técnico</span>
	</div>
</div>

</body>
</html>


<style type="text/css">
<!--
span.nro_certificado{
	font-family:Arial,Arial;
	font-size:14.1px;
	color:rgb(0,128,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none
}

div.nro_certificado{
	font-family:Arial,Arial;
	font-size:14.1px;
	color:rgb(0,128,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none
}

span.vnro_certificado{
	font-family:Arial,Arial;
	font-size:14.1px;
	color:rgb(0,0,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none
}

div.vnro_certificado{
	font-family:Arial,Arial;
	font-size:14.1px;
	color:rgb(0,0,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none
}

span.company_name{
	font-family:Arial,Arial;
	font-size:20.1px;
	color:rgb(255,0,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none
}
div.company_name{
	font-family:Arial,Arial;
	font-size:20.1px;
	color:rgb(255,0,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none
}


span.company_subtittle{font-family:Arial,Arial;font-size:12.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
div.company_subtittle{font-family:Arial,Arial;font-size:12.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
span.tipo_certificado{font-family:Arial,Arial;font-size:24.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
div.tipo_certificado{font-family:Arial,Arial;font-size:24.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
span.company_info{font-family:Arial,Arial;font-size:10.0px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
div.company_info{font-family:Arial,Arial;font-size:10.0px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cliente_details{
	font-family:Arial,Arial;
	font-size:10.0px;
	color:rgb(0,0,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none

}
div.cliente_details{
	font-family:Arial,Arial;
	font-size:10.0px;
	color:rgb(0,0,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none
}
span.company_conditions{font-family:Arial,Arial;font-size:10.0px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.company_conditions{font-family:Arial,Arial;font-size:10.0px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.company_warranty{font-family:Arial,Arial;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.company_warranty{font-family:Arial,Arial;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.company_singatures{font-family:Arial,Arial;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.company_singatures{font-family:Arial,Arial;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>