<div class="container">
<h1>Listado Fumigaciones</h1>
<%= link_to "Crear Orden de Fumigacion", orden_fumigacions_new_path , :class => 'btn btn-warning my-3'%>

<div class="col-sm ml-5"><h3><%= link_to 'Crear PDF', orden_fumigacions_path(format: 'pdf'), :class => 'btn btn-success my-3' %></h3></div>

<table class=" table-striped table table-responsive">
  <tr>
    <thead  class="thead-dark">

   		<th>Nro Certificado</th>
   		<th>Cliente</th>
   		<th>Tecnico</th>
      <th>Tratamiento</th>
      <th>Droga</th>
      <th>Fecha Vencimiento</th>
      <th>Proximo Tratamiento</th>
      <th colspan="3"></th>

    </thead>
  </tr>
  <% @orden_fumigacions.each do |orden_fumigacion| %>
  	<%if orden_fumigacion.baja == true %>
	  	<tr>
	      <td><%= link_to "#{orden_fumigacion.nro_certificado}", orden_fumigacion_path(orden_fumigacion)%></td>
	    	<td><%= link_to "#{orden_fumigacion.cliente.apellido}", orden_fumigacion_path(orden_fumigacion)%></td>
	      <td><%= orden_fumigacion.tecnico.apellido %></td>
	      <td><%= orden_fumigacion.tratamiento %></td>
	      <td><%= orden_fumigacion.droga %></td>
	      <td><%= orden_fumigacion.fecha_vencimiento %></td>
	      <td><%= orden_fumigacion.proximo_tratamiento %></td>
	      <td>
            <%= link_to 'Eliminar', orden_fumigacion, method: :delete, data: { confirm: "¿Estás seguro/a?" } %>
        </td>
	  	</tr>
	  <% end %>
  <% end %>
</table>
</div>
