<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Listado Certificados</title>
    <%= wicked_pdf_stylesheet_link_tag "file.css" -%>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-between">
    <h1>Listado Fumigaciones</h1>
    <table class=" table-striped table table-responsive">
      <tr>
        <thead  class="thead-dark">
          <th>Nro Certificado</th>
          <th>Cliente</th>
          <th>Tecnico</th>
          <th>Tratamiento</th>
          <th>Droga</th>
          <th>Fecha Vencimiento</th>
          <th>Proximo Tratamiento</th>
          <th colspan="3"></th>

        </thead>
      </tr>
        <tbody id="myTable" >
          <% @orden_fumigacions.each do |orden_fumigacion| %>
            <%if orden_fumigacion.baja == true %>
              <tr>
                <td><%= link_to "#{orden_fumigacion.nro_certificado}", orden_fumigacion_path(orden_fumigacion)%></td>
                <td><%= link_to "#{orden_fumigacion.cliente.apellido}", orden_fumigacion_path(orden_fumigacion)%></td>
                <td><%= orden_fumigacion.tecnico.apellido %></td>
                <td><%= orden_fumigacion.tratamiento %></td>
                <td><%= orden_fumigacion.droga %></td>
                <td><%= orden_fumigacion.fecha_vencimiento %></td>
                <td><%= orden_fumigacion.proximo_tratamiento %></td>
                
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
    </div>
  </body>
</html>