<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Listado Certificados</title>
    <%= wicked_pdf_stylesheet_link_tag "file.css" -%>
  </head>
  <body>
    <header class="clearfix">
      <div id="datos">
        <h2><%=I18n.l(Date.today, format: '%A, %d de %B de %Y')%></h2>
        <h1>Listado de Fumigaciones</h1>
      </div>
      <div id="company">
        <h1>SISA FUMIGACIONES</h1>
        <h2>SISTEMA INTEGRAL DE SANEAMIENTO AMBIENTAL</h2>    
      </div>
    </header>
    <div id="details" class="clearfix">
    </div>
    <div class="clearfix">
      <table>
        <tr>
          <thead>
            <th>Nro Cert.</th>
            <th>Tipo</th>
            <th>Cliente</th>
            <th>Rubro</th>
            <th>Tipo Cliente</th>
            <th>Tecnico</th>
            <th>Tratamiento</th>
            <th>Vector</th>
            <th>Superficie</th>
            <th>Veneno</th>
            <th>Droga</th>
            <th>Fecha Venc.</th>
            <th>Prox. Trat.</th>
            <th>Importe</th>
          </thead>
        </tr>
          <tbody>
            <% @orden_fumigacions.each do |orden_fumigacion| %>
              <%if (orden_fumigacion.baja == true) && (orden_fumigacion.anulado==true)%>
                <tr>
                  <td><%= orden_fumigacion.nro_certificado%></td>
                  <td><%= orden_fumigacion.tipo_certificado%></td>
                  <td><%= orden_fumigacion.cliente.apellido%> <%= orden_fumigacion.cliente.nombre%></td>
                  <td><%= orden_fumigacion.cliente.rubro%></td>
                  <td><%= orden_fumigacion.cliente.tipo_cliente%></td>
                  <td><%= orden_fumigacion.tecnico.apellido %></td>
                  <td><%= orden_fumigacion.tratamiento %></td>
                  <td><%= orden_fumigacion.vector %></td>
                  <td><%= orden_fumigacion.superficie %></td>
                  <td><%= orden_fumigacion.veneno %></td>
                  <td><%= orden_fumigacion.droga %></td>
                  <td><%= orden_fumigacion.fecha_vencimiento %></td>
                  <td><%= orden_fumigacion.proximo_tratamiento %></td>
                  <td><%= orden_fumigacion.importe %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
      </table>
    </div>
  </body>
</html>

<style type="text/css">

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#details {
  margin-bottom: 10px;
}

body {
  
  position: relative;
   
  
  color: #001028;

  font-family: Arial;
  font-size: 14px; 
}


#company {
  padding-left: 6px;
  border-left: 6px solid #0087C3;
  float: left;
  margin-bottom: 20px;
}

#company h1 {
  font-size: 2.4em;
  font-weight: bold;
  margin: 0;
  color: #ff0000;
}

#company h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  color: #000000;
}

#datos {
  position: relative;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}

#datos h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: #008000;
}

#datos h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  color: #000000; 
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 30px;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 0px 5px 0px;
  background-color: lightblue;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: bold;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 10px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table tr:nth-child(2n-1) td {
  background: #EEEEEE;
}

table tr:last-child td {
  background: #DDDDDD;
}

</style>