<div class="container">
  <h3 class="text-center card-header my-2"><strong>Fechas aplicaciones o vencimiento fumigaciones</strong></h3>
  <%= form_for :search, method: :get do |f| -%>
    <%= f.select :date_method, options_for_select( [['fecha vencimiento','fecha_vencimiento'],['fecha aplicacion','fecha_aplicacion']], selected: @date_method ) -%>
      <%= f.date_field :start_date, value: @start -%>
      <%= f.date_field :end_date, value: @end -%>
      <%= f.submit 'Buscar' -%>
    <% end -%>

  <table class=" table-striped table table-responsive">
    <tr>
      <thead  class="thead-dark">
        <th>Nro Certificado</th>
        <th>Cliente</th>
        <th>Tecnico</th>
        <th>Tratamiento</th>
        <th>Droga</th>
        <th>Fecha Vencimiento</th>
        <th>Proximo Tratamiento</th>
        <th colspan="3"></th>

      </thead>
    </tr>
      <tbody id="myTable" >
        <% @orden_fumigacions.each do |orden_fumigacion| %>
          <%if orden_fumigacion.baja == true %>
            <tr>
              <td><%= link_to "#{orden_fumigacion.nro_certificado}", orden_fumigacion_path(orden_fumigacion)%></td>
              <td><%= link_to "#{orden_fumigacion.cliente.apellido}", orden_fumigacion_path(orden_fumigacion)%></td>
              <td><%= orden_fumigacion.tecnico.apellido %></td>
              <td><%= orden_fumigacion.tratamiento %></td>
              <td><%= orden_fumigacion.droga %></td>
              <td><%= orden_fumigacion.fecha_vencimiento.strftime("%d-%m-%Y") %></td>
              <td><%= orden_fumigacion.proximo_tratamiento.strftime("%d-%m-%Y") %></td>
              <td>
                  <%= link_to 'Eliminar', orden_fumigacion, method: :delete, data: { confirm: "¿Estás seguro/a?" } %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
  </table>
</div>
