<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @orden_fumigacion.cliente.apellido %> </title>

    <%= wicked_pdf_stylesheet_link_tag %>
    <%= wicked_pdf_javascript_include_tag %>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    
  </head>
  <body>

    <div id="container">
      	<div class="company-name">
          <span>SISA-FUMIGACIONES</span>
            <div class="company-subtitle my-3">
            	<h1><strong>SISTEMA INTEGRAL DE SANEAMIENTO AMBIENTAL</strong></h1>
          	</div>
     	</div>
      	<div class="company-info">
            <span>PADRON N°68.023/03 - CAM-LSA 50 429/03 CUIT: 27-02898301-3 20-22583332-0</span>
            <span>ADMINISTRACIÓN & VENTAS: MANZANA N°748 LOTE N°8</span>
            <span>BARRIO SANTA ANA II - CP 4400-SALTA CAPITAL</span>
            <span>TELEFONOS: (0387) 4291082 - (0387) 4248560</span>
            <br>
            <div class="nro_certificado">
              	<h1><strong>N° de Certificado:  <%= @orden_fumigacion.nro_certificado %></strong></h1>
            </div>
        </div>
      
      <section id="invoice-cliente">
        <div class="datos-cliente">
          <br>
          <span><strong>Fecha de aplicación:</strong> <%= @orden_fumigacion.fecha_aplicacion %></span>
          <span><strong>Apellido y nombre:</strong>  <%= @orden_fumigacion.cliente.apellido %> <%= @orden_fumigacion.cliente.nombre%></span>
          <span><strong>Domicilio:</strong>  <%= @orden_fumigacion.cliente.domicilio %></span>
          <span><strong>Barrio:</strong>  <%= @orden_fumigacion.cliente.domicilio %></span>
        </div>

        <div class="datos-cliente">
          <br>
          <span><strong>Hora Aplicación:</strong>  <%= @orden_fumigacion.hora_aplicacion.strftime("%H:%M") %></span>
          <span><strong>Telefono:</strong> <%= @orden_fumigacion.cliente.telefono %></span>
          <span><strong>Celular:</strong>  <%= @orden_fumigacion.cliente.celular %></span>
          <span><br></span>
          <br>
        </div>
        
      </section>

       <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="no"><strong>Detalles</strong></th>
            <th class="desc"></th>
          </tr>
          <tr>
            <th class="no"><strong>Rubro</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.cliente.rubro.upcase %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Tipo de Rubro</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.cliente.rubro %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Tratamiento</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.tratamiento %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Vector Tratado</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.vector %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Superficie tratada</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.superficie %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Droga Usada</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.droga %></strong></th>
          </tr>
         </thead>
      </table>
</div>
      <div class="container-antidoto" style="font-size: 15px">
        <p>Antídoto: 1 Piretroydes: Tratamietno Sintomático - Bromadilone: Vitamina K1 -DDVP:Sulfato de Atropina.
        Recomendaciones: 1 -mantener cerrado el ambiente tratado mínimo 4 horas, ventilar y lavar(sin lavandina) las superficies de uso culinario, etc.</p>
      </div>

	<div class="card-body">
	    <ul class="list-unstyled mt-3 mb-4 text-center">
			<h3>
	        	<strong>Cliente:</strong>
	        	<%= @orden_fumigacion.cliente.apellido %>
	      	</h3>
	    	<h3>
	        	<strong>Tecnico:</strong>
	        	<%= @orden_fumigacion.tecnico.apellido %>
	      	</h3>
	      	<h3>
	        	<strong>NroCertificado:</strong>
	        	<%= @orden_fumigacion.nro_certificado%>
	      	</h3>
	      	<h3>
	        	<strong>Tipo Certificado:</strong>
	        	<%= @orden_fumigacion.tipo_certificado%>
	      	</h3>
	      	<h3>
	        	<strong>Fecha Aplicacion:</strong>
	        	<%= @orden_fumigacion.fecha_aplicacion%>
	      	</h3>
	      	<h3>
	        	<strong>Tratamiento:</strong>
	        	<%= @orden_fumigacion.tratamiento%>
	      	</h3>
	      	<h3>
	        	<strong>Vector:</strong>
	        	<%= @orden_fumigacion.vector%>
	      	</h3>
	      	<h3>
	        	<strong>Superficie:</strong>
	        	<%= @orden_fumigacion.superficie%>
	      	</h3>
	      	<h3>
	        	<strong>Veneno:</strong>
	        	<%= @orden_fumigacion.veneno%>
	      	</h3>
	      	<h3>
	        	<strong>Droga:</strong>
	        	<%= @orden_fumigacion.droga%>
	      	</h3>
	      	<h3>
	        	<strong>Fecha Vencimiento:</strong>
	        	<%= @orden_fumigacion.fecha_vencimiento%>
	      	</h3>
	      	<h3>
	        	<strong>Proximo Tratamiento:</strong>
	        	<%= @orden_fumigacion.proximo_tratamiento%>
	      	</h3>
	      	<h3>
	        	<strong>Importe:</strong>
	        	<%= @orden_fumigacion.importe%>
	      	</h3>
	      	<h3>
	        	<strong>Estado:</strong>
	        	<%= @orden_fumigacion.estado%>
	      	</h3>
	      	<h3>
	        	<strong>Observaciones:</strong>
	        	<%= @orden_fumigacion.observaciones_ordfumigacion%>
	      	</h3>
	    </ul>
	    <table class="default">
		  <tr>
		    <td>
		    	<button type="button" id="Imprimir Certificado" class="btn btn-info" >
		          Imprimir Certificado
		        </button>
		    </td>
		    <td>
		    	<button type="button" id="Imprimir Certificado" class="btn btn-info" >
		          Imprimir Faja
		        </button>
		    </td>
		    <td><button type="button" id="Imprimir Certificado" class="btn btn-info" >
		          Imprimir Remito
		        </button>
		    </td>
		  </tr>
  		</table>

		<a class="btn btn-lg btn-block btn-dark" href="/orden_fumigacions">Atrás</a>
	</div>
</div>
</body>
</html>

<style>
  #container {
  font: normal 13px/1.4em 'Arial', Arial;
  margin: 0 auto;
}

.nro_certificado div{
 position: absolute;
 right: 90px;
 top: 17px;
 font-size: 18px;
 color: white;
  }

 .nro_certificado h1{
 position: absolute;
 right: 90px;
 top: 17px;
 font-size: 18px;
 color: white;
  }

  .nro_certificado span{
 position: absolute;
 right: 90px;
 top: 17px;
 font-size: 18px;
 color: white;
  }

.company-name {
  background: #67BA2A 560px center no-repeat;
  padding: 5px 0px;
  
}
 .company-name span {
  color: white;
  display: inline-block;
  min-width: 20px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1em;
}
 
 .company-subtitle h1 {
  font-size: 18px;
  color: 000;
}

 .company-info div {
  font-size: 15px;
  
}

 .company-info span {
  font-size: 15px;
  padding: 50px 20px 20px 50px;
}
}

.datos-cliente span {
/*  margin-left: 20px;*/
  font-size: 18px;
  margin-bottom: 15px;
}

#firma {
  float: left;
   width: 120%;
}
#firma > div {
  float: left;
}
#firma div span  {
  display: block;
  white-space: nowrap;
  min-width: 60px;
  min-height: 18px;
  margin-bottom: 3px;
  margin-right: 80px;
}
#firma > div:last-child {
  margin-left: 300px;
}


#invoice-cliente {
  float: left;
   border-top: solid 1px;
   width: 120%;
}
#invoice-cliente > div {
  float: left;
}
#invoice-cliente div span  {
  display: block;
  white-space: nowrap;
  min-width: 60px;
  min-height: 18px;
  margin-bottom: 3px;
  margin-right: 80px;
}
#invoice-cliente > div:last-child {
  margin-left: 300px;
}

#client-info {
  float: right;
  margin: 5px 20px 0 0;
  min-width: 220px;
  text-align: right;
}


#client-info > div {
  margin-bottom: 3px;
  min-width: 20px;
}
#client-info span {
  display: block;
  min-width: 20px;
}

#invoice-title-number {
  text-align: center;
  margin: 20px 0;
}
#invoice-title-number span {
  display: inline-block;
  min-width: 50px;
}
#invoice-title-number #title {
  margin-right: 15px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
#invoice-title-number #number {
  font-size: 15px;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 20px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  text-align: right;
}

table td h3{
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

table .desc {
  text-align: left;
}

table .unit {
  background: #DDDDDD;
}

table .qty {
}

table .total {
  background: #57B223;
  color: #FFFFFF;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table tbody tr:last-child td {
  border: none;
}

table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap;
  border-top: 1px solid #AAAAAA;
}

table tfoot tr:first-child td {
  border-top: none;
}

table tfoot tr:last-child td {
  color: #57B223;
  font-size: 1.4em;
  border-top: 1px solid #57B223;

}

table tfoot tr td:first-child {
  border: none;
}

.advertencia h1 {
  color:rgba(242, 38, 19, 1);
  text-align: center;
  font-size: 18px;
   text-decoration: underline;
}

.advertencia p {
  font-size: 15px;
  
/**
 * If the printed invoice is not looking as expected you may tune up
 * the print styles (you can use !important to override styles)
 */
@media print {
  /* Here goes your print styles */
}
</style>
