<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @orden_fumigacion.cliente.apellido %> </title>

    <%= wicked_pdf_stylesheet_link_tag %>
    <%= wicked_pdf_javascript_include_tag %>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    
  </head>
  <body>

    <div id="container">
      	<div class="company-name">
          <span>SISA-FUMIGACIONES</span>
            <div class="company-subtitle my-1">
            	<h1><strong>SISTEMA INTEGRAL DE SANEAMIENTO AMBIENTAL</strong></h1>
          	</div>
     	</div>
     	<div style="position:absolute;right:180px;top:49.12px" class="tipo_certificado"><span class="tipo_certificado"><%=@orden_fumigacion.tipo_certificado%></span>
     	</div>
      	<div class="company-info">
            <div class="company-info"><span>PADRON N°68.023/03 - CAM-LSA 50 429/03 CUIT: 27-02898301-3 20-22583332-0</span></div>
            <div class="company-info"><span>ADMINISTRACIÓN & VENTAS: MANZANA N°748 LOTE N°8</span></div>
            <div class="company-info"><span>BARRIO SANTA ANA II - CP 4400-SALTA CAPITAL</span></div>
            <div class="company-info"><span>TELEFONOS: (0387) 4291082 - (0387) 4248560</span></div>
            <br>
            <div class="nro_certificado">
              	<h1><strong><span style="color:green">CERTIFICADO Nª  </span><span style="color:black"><%= @orden_fumigacion.nro_certificado %></span></strong></h1>
            </div>
        </div>
      
      <section id="invoice-cliente">
        <div class="datos-cliente">
          <br>
          <span><strong>Fecha de aplicación:</strong> <%= @orden_fumigacion.fecha_aplicacion %></span>
          <span><strong>Apellido y nombre:</strong>  <%= @orden_fumigacion.cliente.apellido %> <%= @orden_fumigacion.cliente.nombre%></span>
          <span><strong>Domicilio:</strong>  <%= @orden_fumigacion.cliente.domicilio %></span>
          <span><strong>Barrio:</strong>  <%= @orden_fumigacion.cliente.domicilio %></span>
        </div>

        <div class="datos-cliente my-1">
          <br>
          <span><strong>Hora Aplicación:</strong>  <%= @orden_fumigacion.hora_aplicacion.strftime("%H:%M") %></span>
          <span><strong>Telefono:</strong> <%= @orden_fumigacion.cliente.telefono %></span>
          <span><strong>Celular:</strong>  <%= @orden_fumigacion.cliente.celular %></span>
          <span><br></span>
          <br>
        </div> 
   
      </section>
  
      	        <div class="row">
        	<p><hr height=1px>WWF's Symbol</hr></p>
		</div>  

       <table border="0" cellspacing="0" cellpadding="0">
        <thead class="thead-dark">

          <tr>
            <th class="no"><strong>Detalles</strong></th>
            <th class="desc"></th>
          </tr>
          <tr>
            <th class="no"><strong>Rubro</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.cliente.rubro.upcase %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Tipo de Rubro</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.cliente.rubro %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Tratamiento</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.tratamiento %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Vector Tratado</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.vector %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Superficie tratada</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.superficie %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Droga Usada</strong></th>
            <th class="unit"><strong><%= @orden_fumigacion.droga %></strong></th>
          </tr>
         </thead>
      </table>
	</div>
</body>
</html>

<style>

#container {
	font: normal 13px/1.4em 'Arial', Arial;
    width: 595px;
    height: 841px;
    background: #d8d8d8;
    border: 1px solid;
}

span.tipo_certificado{
	font-family:Arial,Arial;
	font-size:25px;
	color:rgb(0,128,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none
}
div.tipo_certificado{
	font-family:Arial,Arial;
	font-size:25px;
	color:rgb(0,128,0);
	font-weight:normal;
	font-style:normal;
	text-decoration: none
}

.nro_certificado div{
 position: absolute;
 right: 90px;
 top: 17px;
 font-size: 18px;
 color: white;
  }

.nro_certificado h1{
 position: absolute;
 right: 90px;
 top: 17px;
 font-size: 18px;
  }

.company-name {
  background: #edf6ee 560px center no-repeat;
  padding: 10px 10px 10px 10px;
}
 .company-name span {
  color: #FF0000;
  display: inline-block;
  min-width: 20px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1em;
}
 
 .company-subtitle h1 {
  font-size: 18px;
  color: #000000;
}

 .company-info div {
  font-size: 15px;
  padding: 5px 10px 0px 10px;
  color: #008000;
}

.detalle-cliente hr {
  height: 2px;
  background-color: red;
}

.datos-cliente span {
  font-size: 18px;
  padding: 5px 10px 0px 10px;
}

#firma {
  float: left;
   width: 120%;
}
#firma div {
  float: left;
}
#firma div span  {
  display: block;
  white-space: nowrap;
  min-width: 60px;
  min-height: 18px;
  margin-bottom: 3px;
  margin-right: 80px;
}
#firma > div:last-child {
  margin-left: 300px;
}

#invoice-cliente {
  float: left;
   border-top: solid 1px;
   width: 120%;
}
#invoice-cliente > div {
  float: left;
}

#invoice-cliente div span  {
  display: block;
  white-space: nowrap;
  min-width: 60px;
  min-height: 18px;
  margin-bottom: 3px;
  margin-right: 80px;
}
#invoice-cliente > div:last-child {
  margin-left: 300px;
}

#client-info {
  float: right;
  margin: 5px 20px 0 0;
  min-width: 220px;
  text-align: right;
}


#client-info > div {
  margin-bottom: 3px;
  min-width: 20px;
}
#client-info span {
  display: block;
  min-width: 20px;
}

#invoice-title-number {
  text-align: center;
  margin: 20px 0;
}
#invoice-title-number span {
  display: inline-block;
  min-width: 50px;
}
#invoice-title-number #title {
  margin-right: 15px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
#invoice-title-number #number {
  font-size: 15px;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 20px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  text-align: right;
}

table td h3{
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

table .desc {
  text-align: left;
}

table .unit {
  background: #DDDDDD;
}

table .qty {
}

table .total {
  background: #57B223;
  color: #FFFFFF;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table tbody tr:last-child td {
  border: none;
}

table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap;
  border-top: 1px solid #AAAAAA;
}

table tfoot tr:first-child td {
  border-top: none;
}

table tfoot tr:last-child td {
  color: #57B223;
  font-size: 1.4em;
  border-top: 1px solid #57B223;

}

table tfoot tr td:first-child {
  border: none;
}

@media print {
  /* Here goes your print styles */
}
</style>
